* {
    box-sizing: border-box;
}

.col-lg-11 {
    width: 100%;
}

.scroll-snap {
    scroll-snap-type: y mandatory;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .main-container {
        scroll-snap-align: start;
    }
}