// colors
$black: #000000;
$white: #FFFFFF;
$yellow-main: #FAE806;
$light-red: #FF6551;
$light-yellow: #F8F6E5;
$dark-blue: #252B42;
$light-gray: #737373;

// fonts
@mixin montserrat {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}